<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~std660102/KadNangKgom/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /~std660102/KadNangKgom/index.html [L]
</IfModule>
