@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

input {
  outline: none !important;
}

* {
  /* font */
  font-family: "Noto Sans Thai Looped", sans-serif;
  font-optical-sizing: auto;
}
