@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

input,
select {
  outline: none !important;
}

* {
  /* font */
  font-family: "Noto Sans Thai Looped", sans-serif;
  font-optical-sizing: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}
